
//imports
@import "./utils/anim_section";

@import "./utils/anim_title";

@import "./utils/video_banner";

@import "./utils/anim_float";

@import "./utils/slider";



//keyframes

@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// rotation des fleurs
  .story__article::after,
  .story h2::after,
  #studio h2::before,
  #studio h2::after,
  .site-footer ul::after,
  //.site-footer::before,
  //.site-footer::after,
  .flowers,
  .flowers2
   {
    animation: rotate-infinite linear 5s infinite; 
  }

/* gestion section oscar */

.site-footer::after,
.site-footer::before{
  display: none;
}

.oscar{

  display: flex;
  align-items: center;
  z-index: -1;

  &__img{
      padding-top: 150px;
      padding-bottom: 50px;
      margin: auto;
  }
}

.flowers{
  position:absolute;
left: 170px;
top:30px;
}

.flowers2{
  position:absolute;
  right: -70px;
  top:10px;
}

#titreh3{
  width:42%;
  //background-color: aqua;
  text-align: left;
}