@keyframes float {
    0%, 100% {
        transform: translate(0, 0); /* Position initiale */
    }
    25% {
        transform: translate(20px, -20px); /* Flottement en X et en Y */
    }
    50% {
        transform: translate(40px, -40px); 
    }
    75% {
        transform: translate(-30px, -40px); 
    }
}


.banner{
    &__img{
        animation: float 4s linear infinite;
    }
}


