#place{
   background-image: url("../images/video-koukaki.png")!important;
}

#cloud1,#cloud2{
    filter: blur(10px);
 }


 .big_cloud{
   position: absolute;
   top:5em;
   left: 25em;
}

.little_cloud{
   position: absolute;
   top:18em;
   left: 15em;

}

@media (max-width: 700px) {

   #cloud1,#cloud2{
      display:none;
   }
}

