//keyframes
      //fade in sur menu
  @keyframes anime-menu {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }
        //chats flottants
  @keyframes floating {
      0%, 100% {
          transform: translateY(0);
      }
      50% {
           transform: translateY(-10px); /* Ajustez la valeur selon votre préférence */
      }
  }
    
    
          // rotation menu burger
  @keyframes rotate {
    0% {
        transform: rotate(0deg);
          
    }
    100% {
        transform: rotate(45deg)translateY(6px);
    }
  }
    
  @keyframes rotate2 {
    0% {
          transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg)translateY(-6px);
    }
  }
    
  @keyframes inv-rotate {
    0% {
        transform: rotate(45deg) translateY(6px) ;
          
      }
      100% {
        transform: rotate(0deg)translateY(0px);
    }
  }
    
  @keyframes inv-rotate2 {
    0% {
        transform: rotate(-45deg) translateY(-6px);
    }
    100% {
         transform: rotate(0deg)translateY(0px);
    }
  }
    

//gestion menu

.burger-menu {
    display: block;
    cursor: pointer;
  }

.menu-items ul{
  margin: auto;
  padding: 0;
}

.menu-items {
  display: none;
  background-color: #FFF5E9;
  overflow:hidden;
  height: 100vh;
  opacity: 0; 
  animation: anime-menu 1.5s linear forwards;

  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container__logo{
  }

  &__container__nav{
    display: flex;
    flex-direction: row;
  }
}
  
.liste{
  list-style-type: none;
  text-align: center;
  font-size: 30px;
  }

.liste li{
  margin-top: 20px;
}
.liste a{
  text-decoration: none;
  font-weight: bold;
}

.liste a:hover{
  text-shadow: 0 0 10px rgba(255, 165, 0, 0.7); 
}

  /*  bouton burger  */
.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;

  &--hide{
    display:none;
  }
}

.bar1{
  &--remove{
    animation: inv-rotate linear 1s forwards;
  }

  &--move{
    animation: rotate linear 1s forwards; 
  }
}

.bar3{
  &--remove{
    animation: inv-rotate2 linear 1s forwards;
  }

  &--move{
    animation: rotate2 linear 1s forwards; 
  }
}


.menu-items.show-menu {
  display: block;
}

.menu-items p{
  font-size: 15px;
  position: absolute;
  bottom: 150px;
}

//gestion images
  .img_cat{
    position: absolute;
    animation: floating 2s infinite ease-in-out;
  }

  #cat1{
    top: 8emp;
    left:11em;
  }

  #cat2{
    top: 30em;
    right:20em;
  }

  #cat3{
    bottom: 15em;
    left:5em;
  }
  .img_flower{
    position: absolute;
    animation: rotate-infinite linear 5s infinite; 
  }

  #flower1{
    right:10em;
    top: 10em;
    width: 10%;
  }

   #flower2{
    left:-5em;
    top: 19em;
  }

  #flower3{
    right:-15em;
    bottom: -10em;
    width: 30%;
  }

  #flower4{
    right:-5em;
   top: 25em;
   width: 10%;
  }

  #flower5{
    left:20em;
    bottom: 30em;
  } 

  

//media query gestion menu
@media screen and (min-width: 150px){
  .main-navigation {
      height: 80px;
  }
  .main-navigation ul{
    display: flex;
  }
}

@media (max-width: 700px) {
  .empty{
    display: none;
  }
}

 // media query gestion images
    
 @media (max-width: 1100px) {
  #cat2,#flower5{
    display: none;
  }
}

@media (max-width: 850px) {
  #cat1,#cat3,#flower1,#flower2,#flower3,#flower4{
    display: none;
  }
}