.banner{
    &__video{
        z-index: -1;
    }

    &__container{
        position:absolute;
        left:250px;
        top:270px;
        height: 250px;
        width:80%;
        //background-color: aqua;
        z-index: 0;
    }

    &__img{
         position:relative;
         left: 200px; 
         z-index: 1;
    }
}




@media (max-width: 700px) {

    .banner{

        &__video{
            display:none;
        }

        &__container{
            left: 0px;
        }
        
        &__img{
            position:absolute;
            top: 50px; 
            left: 100px;
            width: 80% !important;
            z-index: 1;
        }  
    }
}