@charset "UTF-8";
@keyframes anime-section {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anime-section2 {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes anime-section3 {
  from {
    transform: translatex(50%);
    opacity: 0;
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes anime-section4 {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* CSS pour afficher les sections avec un effet fade-in au chargement de la page */
.banner {
  opacity: 0; /* La section est initialement transparente */
  transform: translateY(-50%); /* La section est décalée vers le haut en dehors de l'écran */
  transition: opacity 2s ease, transform 0.5s ease; /* Effet de fondu et de translation */
  animation: anime-section 2s ease-in-out forwards;
}

.story__article {
  opacity: 0;
  animation: anime-section3 2s ease-in-out forwards;
}

.story h2::before {
  left: -220px;
}

.story h2::after {
  left: -175px;
}

#studio {
  opacity: 0;
  animation: anime-section3 2s ease-in-out forwards;
}

#characters {
  opacity: 0;
  animation: anime-section4 2s ease-in-out forwards;
}

#place {
  opacity: 0;
  animation: anime-section2 2s ease-in-out forwards;
}

.oscar {
  opacity: 0;
  animation: anime-section2 2s ease-in-out forwards;
}

@keyframes anime-titre {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anime-titre2 {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* animation des titres*/
.titreAnime {
  opacity: 0;
}

.titreAnime2 {
  opacity: 0;
}

.run {
  display: inline-block;
  position: relative;
  animation: anime-titre 2s ease-in-out;
  opacity: 1;
}

.run2 {
  display: inline-block;
  position: relative;
  animation: anime-titre2 2s ease-in-out;
  opacity: 1;
}

.banner__video {
  z-index: -1;
}
.banner__container {
  position: absolute;
  left: 250px;
  top: 270px;
  height: 250px;
  width: 80%;
  z-index: 0;
}
.banner__img {
  position: relative;
  left: 200px;
  z-index: 1;
}

@media (max-width: 700px) {
  .banner__video {
    display: none;
  }
  .banner__container {
    left: 0px;
  }
  .banner__img {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 80% !important;
    z-index: 1;
  }
}
@keyframes float {
  0%, 100% {
    transform: translate(0, 0); /* Position initiale */
  }
  25% {
    transform: translate(20px, -20px); /* Flottement en X et en Y */
  }
  50% {
    transform: translate(40px, -40px);
  }
  75% {
    transform: translate(-30px, -40px);
  }
}
.banner__img {
  animation: float 4s linear infinite;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

#characters {
  display: flex;
  flex-direction: column;
}

#titreh3 {
  width: 50%;
}

#place {
  background-image: url("../images/video-koukaki.png") !important;
}

#cloud1, #cloud2 {
  filter: blur(10px);
}

.big_cloud {
  position: absolute;
  top: 5em;
  left: 25em;
}

.little_cloud {
  position: absolute;
  top: 18em;
  left: 15em;
}

@media (max-width: 700px) {
  #cloud1, #cloud2 {
    display: none;
  }
}
@keyframes anime-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Ajustez la valeur selon votre préférence */
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg) translateY(6px);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg) translateY(-6px);
  }
}
@keyframes inv-rotate {
  0% {
    transform: rotate(45deg) translateY(6px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}
@keyframes inv-rotate2 {
  0% {
    transform: rotate(-45deg) translateY(-6px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}
.burger-menu {
  display: block;
  cursor: pointer;
}

.menu-items ul {
  margin: auto;
  padding: 0;
}

.menu-items {
  display: none;
  background-color: #FFF5E9;
  overflow: hidden;
  height: 100vh;
  opacity: 0;
  animation: anime-menu 1.5s linear forwards;
}
.menu-items__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-items__container__nav {
  display: flex;
  flex-direction: row;
}

.liste {
  list-style-type: none;
  text-align: center;
  font-size: 30px;
}

.liste li {
  margin-top: 20px;
}

.liste a {
  text-decoration: none;
  font-weight: bold;
}

.liste a:hover {
  text-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
}

/*  bouton burger  */
.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}
.bar--hide {
  display: none;
}

.bar1--remove {
  animation: inv-rotate linear 1s forwards;
}
.bar1--move {
  animation: rotate linear 1s forwards;
}

.bar3--remove {
  animation: inv-rotate2 linear 1s forwards;
}
.bar3--move {
  animation: rotate2 linear 1s forwards;
}

.menu-items.show-menu {
  display: block;
}

.menu-items p {
  font-size: 15px;
  position: absolute;
  bottom: 150px;
}

.img_cat {
  position: absolute;
  animation: floating 2s infinite ease-in-out;
}

#cat1 {
  top: 8emp;
  left: 11em;
}

#cat2 {
  top: 30em;
  right: 20em;
}

#cat3 {
  bottom: 15em;
  left: 5em;
}

.img_flower {
  position: absolute;
  animation: rotate-infinite linear 5s infinite;
}

#flower1 {
  right: 10em;
  top: 10em;
  width: 10%;
}

#flower2 {
  left: -5em;
  top: 19em;
}

#flower3 {
  right: -15em;
  bottom: -10em;
  width: 30%;
}

#flower4 {
  right: -5em;
  top: 25em;
  width: 10%;
}

#flower5 {
  left: 20em;
  bottom: 30em;
}

@media screen and (min-width: 150px) {
  .main-navigation {
    height: 80px;
  }
  .main-navigation ul {
    display: flex;
  }
}
@media (max-width: 700px) {
  .empty {
    display: none;
  }
}
@media (max-width: 1100px) {
  #cat2, #flower5 {
    display: none;
  }
}
@media (max-width: 850px) {
  #cat1, #cat3, #flower1, #flower2, #flower3, #flower4 {
    display: none;
  }
}
@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.story__article::after,
.story h2::after,
#studio h2::before,
#studio h2::after,
.site-footer ul::after,
.flowers,
.flowers2 {
  animation: rotate-infinite linear 5s infinite;
}

/* gestion section oscar */
.site-footer::after,
.site-footer::before {
  display: none;
}

.oscar {
  display: flex;
  align-items: center;
  z-index: -1;
}
.oscar__img {
  padding-top: 150px;
  padding-bottom: 50px;
  margin: auto;
}

.flowers {
  position: absolute;
  left: 170px;
  top: 30px;
}

.flowers2 {
  position: absolute;
  right: -70px;
  top: 10px;
}

body {
  height: auto !important;
}

@media (min-width: 900px) and (max-width: 1064px) {
  h3 {
    font-size: 2em;
  }
}
@media (max-width: 899px) {
  h3 {
    font-size: 1.5em;
  }
  #titreh3 {
    width: 100%;
  }
  h2 {
    font-size: 2.5em;
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 2em;
  }
  .flowers {
    display: none;
  }
  .flowers2 {
    display: none;
  }
}

/*# sourceMappingURL=theme.css.map */
