@charset "UTF-8";
@keyframes anime-section {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anime-section2 {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes anime-section3 {
  from {
    transform: translatex(50%);
    opacity: 0;
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes anime-section4 {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* CSS pour afficher les sections avec un effet fade-in au chargement de la page */
.banner {
  opacity: 0; /* La section est initialement transparente */
  transform: translateY(-50%); /* La section est décalée vers le haut en dehors de l'écran */
  transition: opacity 2s ease, transform 0.5s ease; /* Effet de fondu et de translation */
  animation: anime-section 2s ease-in-out forwards;
  /*  &__container{
     opacity: 0;
     transition: opacity 2s ease, transform 0.5s ease; 
     animation: anime-section4 2s ease-in-out forwards;
   } */
}

.story__article {
  opacity: 0;
  animation: anime-section3 2s ease-in-out forwards;
}

.story h2::before {
  left: -220px;
}

.story h2::after {
  left: -175px;
}

#studio {
  opacity: 0;
  animation: anime-section3 2s ease-in-out forwards;
}

#characters {
  opacity: 0;
  animation: anime-section4 2s ease-in-out forwards;
}

#place {
  opacity: 0;
  animation: anime-section2 2s ease-in-out forwards;
}

.oscar {
  opacity: 0;
  animation: anime-section2 2s ease-in-out forwards;
}

@keyframes anime-titre {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anime-titre2 {
  from {
    transform: translateY(150%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* animation des titres*/
.titreAnime {
  opacity: 0;
}

.titreAnime2 {
  opacity: 0;
}

.run {
  display: inline-block;
  position: relative;
  animation: anime-titre 2s ease-in-out;
  opacity: 1;
}

.run2 {
  display: inline-block;
  position: relative;
  animation: anime-titre2 2s ease-in-out;
  opacity: 1;
}

.banner__video {
  z-index: -1;
}
.banner__container {
  position: absolute;
  left: 250px;
  top: 270px;
  height: 250px;
  width: 80%;
  z-index: 0;
}
.banner__img {
  position: relative;
  left: 200px;
  z-index: 1;
}

@media (max-width: 768px) {
  .banner__video {
    display: none;
  }
  .banner__container {
    left: 0px;
  }
  .banner__img {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 80% !important;
    z-index: 1;
  }
}
@keyframes float {
  0%, 100% {
    transform: translate(0, 0); /* Position initiale */
  }
  25% {
    transform: translate(20px, -20px); /* Flottement en X et en Y */
  }
  50% {
    transform: translate(40px, -40px); /* Flottement en X et en Y */
  }
  75% {
    transform: translate(-30px, -40px); /* Flottement en X et en Y */
  }
}
.banner__img {
  animation: float 4s linear infinite;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.story__article::after,
.story h2::after,
#studio h2::before,
#studio h2::after,
.site-footer ul::after,
.flowers,
.flowers2 {
  animation: rotate-infinite linear 5s infinite;
}

/* gestion section oscar */
.site-footer::after,
.site-footer::before {
  display: none;
}

.oscar {
  display: flex;
  align-items: center;
  z-index: -1;
}
.oscar__img {
  padding-top: 150px;
  padding-bottom: 50px;
  margin: auto;
}

.flowers {
  position: absolute;
  left: 170px;
  top: 30px;
}

.flowers2 {
  position: absolute;
  right: -70px;
  top: 10px;
}

#titreh3 {
  width: 42%;
  text-align: left;
}

/*# sourceMappingURL=theme.css.map */
